<section class="section-btn">
	<nb-button class="nb-button">default</nb-button>
	<nb-button class="nb-button nb-btn-red">nb-btn-red</nb-button>
	<nb-button class="nb-button nb-btn-pink">nb-btn-pink</nb-button>
	<nb-button class="nb-button nb-btn-purple">nb-btn-purple</nb-button>
	<nb-button class="nb-button nb-btn-deep-purple">nb-btn-deep-purple</nb-button>
	<nb-button class="nb-button nb-btn-indigo">nb-btn-indigo</nb-button>
	<nb-button class="nb-button nb-btn-blue">nb-btn-blue</nb-button>
	<nb-button class="nb-button nb-btn-light-blue">nb-btn-light-blue</nb-button>
	<nb-button class="nb-button nb-btn-cyan">nb-btn-cyan</nb-button>
	<nb-button class="nb-button nb-btn-teal">nb-btn-teal</nb-button>
	<nb-button class="nb-button nb-btn-green">nb-btn-green</nb-button>
	<nb-button class="nb-button nb-btn-light-green">nb-btn-light-green</nb-button>
	<nb-button class="nb-button nb-btn-lime">nb-btn-lime</nb-button>
	<nb-button class="nb-button nb-btn-yellow">nb-btn-yellow</nb-button>
	<nb-button class="nb-button nb-btn-amber">nb-btn-amber</nb-button>
	<nb-button class="nb-button nb-btn-orange">nb-btn-orange</nb-button>
	<nb-button class="nb-button nb-btn-deep-orange">nb-btn-deep-orange</nb-button>
	<nb-button class="nb-button nb-btn-brown">nb-btn-brown</nb-button>
	<nb-button class="nb-button nb-btn-grey">nb-btn-grey</nb-button>
	<nb-button class="nb-button nb-btn-blue-grey">nb-btn-blue-grey</nb-button>
</section>
<section class="section-btn">
	<nb-button class="nb-button nb-raised">default</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-red">nb-btn-red</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-pink">nb-btn-pink</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-purple">nb-btn-purple</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-deep-purple">nb-btn-deep-purple</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-indigo">nb-btn-indigo</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-blue">nb-btn-blue</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-light-blue">nb-btn-light-blue</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-cyan">nb-btn-cyan</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-teal">nb-btn-teal</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-green">nb-btn-green</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-light-green">nb-btn-light-green</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-lime">nb-btn-lime</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-yellow">nb-btn-yellow</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-amber">nb-btn-amber</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-orange">nb-btn-orange</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-deep-orange">nb-btn-deep-orange</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-brown">nb-btn-brown</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-grey">nb-btn-grey</nb-button>
	<nb-button class="nb-button nb-raised nb-btn-blue-grey">nb-btn-blue-grey</nb-button>
</section>
<section class="section-btn">
	<nb-button class="nb-button nb-ghost">button</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-red">nb-btn-red</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-pink">nb-btn-pink</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-purple">nb-btn-purple</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-deep-purple">nb-btn-deep-purple</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-indigo">nb-btn-indigo</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-blue">nb-btn-blue</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-light-blue">nb-btn-light-blue</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-cyan">nb-btn-cyan</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-teal">nb-btn-teal</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-green">nb-btn-green</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-light-green">nb-btn-light-green</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-lime">nb-btn-lime</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-yellow">nb-btn-yellow</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-amber">nb-btn-amber</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-orange">nb-btn-orange</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-deep-orange">nb-btn-deep-orange</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-brown">nb-btn-brown</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-grey">nb-btn-grey</nb-button>
	<nb-button class="nb-button nb-ghost nb-btn-blue-grey">nb-btn-blue-grey</nb-button>
</section>
