<section class="section-checkbox">
	<div>
		<h2>shake</h2>
		<nb-checkbox nb-id="checkbox1" nb-name="checkboxGroup1" nb-theme="shake">checkbox1</nb-checkbox>
		<nb-checkbox nb-id="checkbox2" nb-name="checkboxGroup1" nb-theme="shake">checkbox2</nb-checkbox>
	</div>
	<div>
		<h2>ripple</h2>
		<nb-checkbox nb-id="checkbox3" nb-name="checkboxGroup2" nb-theme="ripple">checkbox1</nb-checkbox>
		<nb-checkbox nb-id="checkbox4" nb-name="checkboxGroup2" nb-theme="ripple">checkbox2</nb-checkbox>
	</div>
</section>