<section class="section-loader">
	<div class="loader-item">
		<span>stroke</span>
		<nb-loader type="stroke"></nb-loader>
	</div>
	<div class="loader-item">
		<span>fourdots</span>
		<nb-loader type="fourdots"><nb-loader>
	</div>
	<div class="loader-item">
		<span>bokeh</span>
		<nb-loader type="bokeh"><nb-loader>
	</div>
	<div class="loader-item">
		<span>kiri</span>
		<nb-loader type="kiri"><nb-loader>
	</div>
	<div class="loader-item">
		<span>sail</span>
		<nb-loader type="sail"><nb-loader>
	</div>
	<div class="loader-item">
		<span>breath</span>
		<nb-loader type="breath"><nb-loader>
	</div>
	<div class="loader-item">
		<span>flipDot</span>
		<nb-loader type="flipDot"><nb-loader>
	</div>
	<div class="loader-item">
		<span>squarePuls</span>
		<nb-loader type="squarePuls"><nb-loader>
	</div>
	<div class="loader-item">
		<span>wave</span>
		<nb-loader type="wave"><nb-loader>
	</div>
	<div class="loader-item">
		<span>orbit</span>
		<nb-loader type="orbit"><nb-loader>
	</div>
</section>