<section class="section-radio">
	<div>
		<h2>default</h2>
		<nb-radio nb-id="radio1" nb-name="radioGroup1">radio1</nb-radio>
		<nb-radio nb-id="radio2" nb-name="radioGroup1">radio2</nb-radio>
	</div>
	<div>
		<h2>shake</h2>
		<nb-radio nb-id="radio3" nb-name="radioGroup2" nb-theme="shake">radio1</nb-radio>
		<nb-radio nb-id="radio4" nb-name="radioGroup2" nb-theme="shake">radio2</nb-radio>
	</div>
	<div>
		<h2>ripple</h2>
		<nb-radio nb-id="radio5" nb-name="radioGroup3" nb-theme="ripple">radio1</nb-radio>
		<nb-radio nb-id="radio6" nb-name="radioGroup3" nb-theme="ripple">radio2</nb-radio>
	</div>
</section>