<section class="section-toggle">
	<div class="clear">
		<h2>arrow</h2>
		<div class="item">
			<nb-toggle nb-type="arrow" nb-direction="right"></nb-toggle>
		</div>
		<div class="item">
			<nb-toggle nb-type="arrow" nb-direction="left"></nb-toggle>
		</div>
	</div>
	<div class="clear">
		<h2>circle</h2>
		<div class="item">
			<nb-toggle nb-type="circle" nb-theme="dark"></nb-toggle>
		</div>
	</div>
	<div class="clear">
		<h2>switch</h2>
		<div class="item">
			<nb-toggle nb-type="switch" nb-theme="ios"></nb-toggle>
		</div>
		<div class="item">
			<nb-toggle nb-type="switch" nb-theme="light"></nb-toggle>
		</div>
		<div class="item">
			<nb-toggle nb-type="switch" nb-theme="flat"></nb-toggle>
		</div>
		<div class="item">
			<nb-toggle nb-type="switch" nb-theme="skewed"></nb-toggle>
		</div>
		<div class="item">
			<nb-toggle nb-type="switch" nb-theme="flip"></nb-toggle>
		</div>
	</div>
</section>