.nb-select {
  clear: both;
	width: 100%;
	background: #eee;
	margin-bottom: 1em;
	font-size: 1.3em;
	height: 2.4em;
	color: #666;
	transition: .1s ease-out;
	cursor: pointer;
	.desc {
		display: inline-block;
		vertical-align: middle;
		padding-left: .8em;
		line-height: 2.4em;
	}
	.pulldown {
		float: right;
		vertical-align: middle;
		width: 2.4em;
		height: 100%;
		background-color: #ddd;
		background-image: url('http://supereightstudio.com/img/pulldown.png');
		background-size: cover;
		transition: .1s ease-out;
	}
	&:hover, 
	.nb-select-active {
		background-color: #ddd;
	}
	&:hover .pulldown,
	.nb-select-active .pulldown {
		background-color: #333;
		background-image: url('http://supereightstudio.com/img/pulldown_hover.png');
	}
	.dropdown {
		position: relative;
		top: 0;
		left: 0;
		background: #333;
		color: #fff;
		display: none;
		clear: both;
		span {
			display: block;
			border-bottom: solid 1px #555;
			padding-left: .8em;
			line-height: 2.4em;
			width: 100%;
			transition: background-color .1s ease-out;
			box-sizing: border-box;
			&:last-child {
				border-bottom: none;
			}
			&.active {
				background-color: #2A817C;
				background-image: url('http://supereightstudio.com/img/radio_tick.png');
				background-repeat: no-repeat;
				background-size: 1.6em 1.6em;
				background-position: 98% 50%;
			}
			&:hover {
				background-color: #555;
			}
		}
	}
}
