$progressSize: 200px;
$progressColor: #81CE97;
.nb-progress {
	&.nb-progress-circle {
	  width: $progressSize;
	  height: $progressSize;
	  border-radius: 50%;
	  background-color: #E5E5E5;
	  position: relative;
	  &.gt-50 {
	    background-color: $progressColor;
	    .progress {
	    	clip: rect(auto, #{$progressSize / 2}, auto, auto);
	    	.progress-fill {
	    		clip: rect(auto, auto, auto, #{$progressSize / 2});
	    		background: #E5E5E5;
	    	}
	    }
	  }
	  .progress {
	  	@include circle($progressSize);
	  	clip: rect(auto, auto, auto, #{$progressSize / 2});
	  	.progress-fill {
	  		@include circle($progressSize);
	  		clip: rect(auto, #{$progressSize / 2}, auto, auto);
	  		background: $progressColor;
	  		// transition: transform 1s ease;
	  	}
	  }
	  .percents {
	  	@include circle(#{$progressSize / 1.21});
	  	background: #fff;
	  	text-align: center;
	  	line-height: #{$progressSize / 1.21};
	  	span {
	  		font-size: 2.6em;
	  		font-weight: bold;
	  		color: $progressColor;
	  	}
	  }
	}

	&.nb-progress-linear {
		width: 400px;
		height: 5px;
		border-radius: 2.5px;
		background: #EBEBEB;
		position: relative;
		&:after {
			content: '';
			width: 0;
			height: 100%;
			background: #01D48F;
			animation: progressing 4s infinite;
			position: absolute;
			border-radius: 2.5px;
		}
	}
}

@keyframes progressing {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}