/* Variables
 ------------------------------------------------------------- */
$primary-color: map-get($color-green, '400');
$secondary-color: map-get($color-green, '400');

.nb-radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  cursor: pointer;
  text-indent: 5px;
  // default radio
  &:hover .nb-radio-default:before{
    transform: scale(.5);
    opacity: .5;
  }
  .nb-radio-default {
    position: relative;
    &:before {
      position: absolute;
      width: 20px;
      height: 20px;    
      display: block;
      float: left;
      border: 3px solid $primary-color;
      border-radius: 50%;
      background-color: #fff;
    }
    &:after {
      position: absolute;
      transition: all .25s ease-in-out;
      width: 16px;
      height: 16px;
      transform: scale(0);
      display: block;
      margin: 2px;
      border-radius: 50%;
      background-color: $secondary-color;
      opacity: 0;
    }
    &:checked {
      &:before {
        border: 3px solid $secondary-color;   
      }
      &:after {
        transform: scale(1);
        opacity: 1;
      }
    }
    &:focus &:after{
      transform: scale(1);
      opacity: 1;
      background-color: darken($secondary-color, 10);
    }
  }
}



$baseFontSize: 16;
$primaryColor: #16a085;
$secondaryColor: #f2f2f2;
$twitter: #2980b9;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

.label--radio {
  position: relative;
  margin: .5rem;
  cursor: pointer;
}

.radio {
  position: relative;
  
  margin: 0 1rem 0 0 ;
  
  cursor: pointer;
  
  &:before {
    transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
    transform: scale(0);
    content: "";
    position: absolute;
    top: 0;
    left: rem(2);
    z-index: 1;
    width: rem(12);
    height: rem(12);
    background: $primaryColor;
    border-radius: 50%;
  }
  
  &:checked {
    &:before {
     transform: scale(1);
    }
  }
  
  &:after {
    content: "";
    position: absolute;
    top: rem(-4);
    left: rem(-2);
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid $secondaryColor;
    border-radius: 50%;
  }
}