$link-color: #81b3d2;
$line-color: #d73444;
.nb-link {
	backface-visibility: hidden;
	position: relative;
	transition: color .5s ease;
	text-decoration: none;
	color: $link-color;
	font-size: 20px;
	&:hover {
		color: $line-color;
	}
	&:before, &:after {
		height: 5px;
		width: 0;
		background: $line-color;
		content: '';
		position: absolute;
		transition: all .5s ease;
	}
	&:before {
		top: -8px;
	}
	&:after {
		bottom: -8px;
	}
	// l2r
	&.nb-link-leftToRight {
		&:hover:after {
			width: 100%;
		}
		&:after {
			left: 0;
		}
	}
	
	// r2l
	&.nb-link-rightToLeft {
		&:hover:after {
			width: 100%;
		}
		&:after {
			right: 0;
		}
	}

	// startCenter
	&.nb-link-startCenter {
		&:hover:after {
			width: 100%;
		}
		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	// top & bottom left to right
	&.nb-link-topBottomL2R {
		&:hover:before, &:hover:after {
			width: 100%;
		}
		&:before, &:after {
			left: 0;
		}
	}
	// top & bottom right to left
	&.nb-link-topBottomR2L {
		&:hover:before, &:hover:after {
			width: 100%;
		}
		&:before, &:after {
			right: 0;
		}
	}
	// top & bottom start center
	&.nb-link-topBottomSC {
		&:hover:before, &:hover:after {
			width: 100%;
		}
		&:before, &:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	// top & bottom opposite start
	&.nb-link-topBottomOS {
		&:hover:before, &:hover:after {
			width: 100%;
		}
		&:before {
			right: 0;
		}
		&:after {
			left: 0;
		}
	}
	// top & bottom opposite start reverse
	&.nb-link-topBottomOSR {
		&:hover:before, &:hover:after {
			width: 100%;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
}
// square
.nb-link-square {
	position: relative;
	padding: 8px;
	&:before, &:after {
		width: 5px;
		height: 0;
		background: $line-color;
		content: '';
		position: absolute;
		transition: all .25s ease;
	}
	&:before {
		bottom: 0;
		left: 0;
		transition-delay: .75s;
	}
	&:after {
		top: 0;
		right: 0;
		transition-delay: .25s;
	}
	&:hover:before, &:hover:after {
		height: 100%;
	}
	.nb-link {
		position: static;
		padding: 3px 8px;
		&:before, &:after {
			transition: all .25s ease;
		}
		&:hover:before, &:hover:after {
			width: 100%;
		}
		&:before {
			top: -3px;
			left: 0;
		}
		&:after {
			right: 0;
			bottom: -3px;
			transition-delay: .5s
		}
	}
}